.action-button {
  all: unset;
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--background);
  padding: 8px 16px;
  line-height: 1;
  border-radius: 16px;
  font-family: 'Bungee', cursive;
}

.action-button:hover {
  outline: 2px solid var(--primary);
  background-color: var(--accent);
  cursor: pointer;
  color: var(--primary);
}